@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Whisper&display=swap');

//animação card
@-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

//animação autor
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

    font-family: 'Roboto', sans-serif;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
	  user-select: none;
}


body {
    background: url(../../img/bg-2.png) no-repeat fixed;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    margin-top: 100px;
}

main{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  background: rgba(255, 255, 255, 0.55);
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #00000050;


  padding: 30px;

  -webkit-animation: slide-in-blurred-top 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-blurred-top 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;

  h1{ 
    text-align: center;
    margin-bottom: 20px;
    color: #272262;
  }
}

.cardInfo{
  img{
    height: 320px;
  }

  p{
    color: #272262;
    font-size: 12pt;
    text-align: center;
  }
}

.card{

  background: rgba(255, 255, 255, 0.55);
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #00000050;

  padding: 30px;

  -webkit-animation: slide-in-blurred-top 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-blurred-top 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;

  h1{ 
    text-align: center;
    margin-bottom: 20px;
    color: #272262;
  }

  #msgError{
    text-align: center;
    color: #fff;
    background-color: #ff1234;
    padding: 10px;
    border-radius: 4px;

    display: none;
  }

  .label-float{
    position: relative;
    padding-top: 13px;

    margin-top: 5%;
    margin-bottom: 5%;
  

    input{
        width: 100%;
        padding: 5px 5px;
        display: inline-block;
        border: 0;
        border-bottom: 2px solid #272262;
        background: transparent;
        outline: none;
    
        min-width: 180px;
        font-size: 16px;
    
        transition: all .3s ease-out;
        border-radius: 0;
    
        &:focus{
            border-bottom: 2px solid #4038a0;
        }
    }
      
    #usuario{
      text-transform: lowercase;
    }

    label{
        color: #272262;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;

        margin-top: 13px;
        transition: all .3s ease-out;
    }

    .fa-eye{
        position: absolute;
        top: 15px;
        right: 10px;
        cursor: pointer;
        color: #272262;
    }
  }

  .label-float input:focus + label,
  .label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: #4038a0;
  }
  
  .justify-center{
    display: flex;
    flex-direction: column;
    justify-content: center;

    button{
      background-color: transparent;
      border-color: #272262;
      color: #272262;
      padding: 7px;
      font-weight: 500;
      font-size: 12pt;
      
      margin-top: 20px;
      border-radius: 4px;
      cursor: pointer;
      outline: none;
      transition: all .5s ease-out;

      &:hover{
          background-color: #272262;
          color: #fff;
      }
    }

    hr{
      margin: {
          top: 10%;
          bottom: 10%;
          width: 60%
      }
    }
  }

  p{
    color: #272262;
    font-size: 14pt;
    text-align: center;
  }

  a{
    color: #7a3077;
    font-weight: 700;
    transition: all .3s ease-out;
    &:hover{
        color: #272262;
    }
  }
  
}




.autor{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    position: absolute;
    bottom: 80px;
    right: 90px;

    -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2s both;
    animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2s both;

    .autor-image{
        width: 20%;
    }

    .autor-name{
        font-family: 'Whisper', cursive;
        font-weight: normal;
        font-size: 36px;
        color: rgba(255, 255, 255, 0.739);
        word-spacing: 3px;
    }

}